@use "../partials/variables" as v;

@layer components {
  .container {
    margin-inline: 1rem;
    @each $name, $size in v.$breakpoints {
      @media (width > $size) {
        @if ($name == "sm") {
          margin: auto;
        }
        max-width: calc($size - 4rem);
      }
    }
  }
}
