@use "sass:math";

@function rem($pxVal) {
  @return math.div($pxVal, 16) * 1rem;
}

@mixin flexbox($direction: row, $wrap: nowrap, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin roundImage($radius: 1rem) {
  aspect-ratio: 1;
  width: $radius;
  border-radius: 9999px;
  object-fit: cover;
  object-position: center;
}

@mixin textGradient($direction, $startColor, $endColor) {
  background: linear-gradient(to $direction, $startColor 0%, $endColor 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin resetList {
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
}
