@use "fonts" as f;
@use "variables" as v;
@use "sass:map";

@layer base {
  :root {
    --mainFont: #{f.$mainFont};
    --spacing: #{v.$spacing};
    @each $name, $value in v.$colors {
      --#{$name}: #{$value};
    }
    @each $name, $map in v.$agnosticColors {
      --#{$name}: var(--#{map.get($map, light)});
    }

    // dark mode
    @media (prefers-color-scheme: dark) {
      @each $name, $map in v.$agnosticColors {
        --#{$name}: var(--#{map.get($map, dark)});
      }
    }
  }

  .dark {
    @each $name, $map in v.$agnosticColors {
      --#{$name}: var(--#{map.get($map, dark)});
    }
  }

  body {
    font-family: var(--mainFont);
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
  }

  img,
  svg {
    max-width: 100%;
    height: auto;
  }
}
